<html>
  <head>
    <title>Gossip Maker</title>
  </head>
  <body>
    <h1>Add your gossip</h1>
    <p>Fill out the fields</p>
    <form action='/gossips/new/' method='POST'>
      Name:  <input type='text' name='gossip_author'/><br/>
      Gossip:  <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>